# Sample values - Please fill manually
CONTEXT_PATH=your-value-here
KAFKA_CONSUMER_ACCOUNTANT_ABSOLUTE_PATH=your-value-here
KAFKA_CONSUMER_ACCOUNTANT_JAR_PATH=your-value-here
KAFKA_CONSUMER_ACCOUNTANT_MODULE_PATH=your-value-here
PORT=your-value-here
PROJECT_NAME=your-value-here
PROJECT_ROOT=your-value-here
SPRING_SWAGGER_ABSOLUTE_PATH=your-value-here
SPRING_SWAGGER_JAR_PATH=your-value-here
SPRING_SWAGGER_MODULE_PATH=your-value-here
SPRING_WEB_ABSOLUTE_PATH=your-value-here
SPRING_WEB_JAR_PATH=your-value-here
SPRING_WEB_MODULE_PATH=your-value-here