# Sample values - Please fill manually
BUILD_SWAGGER=your-value-here
BUILD_SWAGGER_LANGUAGE_LIST=your-value-here
CONTEXT_PATH=your-value-here
EUREKA_SERVER_HOST=your-value-here
EUREKA_SERVER_PORT=your-value-here
PORT=your-value-here
PROJECT_NAME=your-value-here
SPRING_PROFILES_ACTIVE=your-value-here