x-common-build: &common-build
  context: ${PROJECT_ROOT}
  dockerfile: docker/file/base/Dockerfile

services:
  kafka-producer-bank:
    container_name: kafka-producer-bank
    ports:
      - ${PORT}:${PORT}
    image: kafka-producer-bank
    pull_policy: build
    build:
      <<: *common-build
      args:
        - MODULE_PATH=${KAFKA_PRODUCER_BANK_MODULE_PATH}
        - JAR_PATH=${KAFKA_PRODUCER_BANK_JAR_PATH}
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka1:29092,kafka2:29092,kafka3:29092
    env_file:
      - .env


