# Sample values - Please fill manually
MONGODB_ATLAS_PRIVATE_KEY=your-value-here
MONGODB_ATLAS_PROJECT_ID=your-value-here
MONGODB_ATLAS_PUBLIC_KEY=your-value-here
MONGODB_CONTAINER_NAME=your-value-here
MONGODB_DATABASE=your-value-here
MONGODB_PASSWORD=your-value-here
MONGODB_PORT=your-value-here
MONGODB_URI=your-value-here
MONGODB_USERNAME=your-value-here