# Sample values - Please fill manually
BUILD_SWAGGER=your-value-here
MODULE_LANGUAGE=vi,en
CONTEXT_PATH=your-value-here
DATABASE_MYSQL_PASSWORD=your-value-here
DATABASE_MYSQL_URI=your-value-here
DATABASE_MYSQL_USER=your-value-here
PORT=your-value-here
PROJECT_NAME=your-value-here
SPRING_PROFILES_ACTIVE=your-value-here