x-common-build: &common-build
  context: ${PROJECT_ROOT}
  dockerfile: docker/file/base/Dockerfile

services:
  kafka-consumer-notification:
    container_name: kafka-consumer-notification
    image: kafka-consumer-notification
    pull_policy: build
    ports:
      - ${PORT}:${PORT}
    environment:
      - SPRING_PROFILES_ACTIVE=${DOCKER_PROFILE:-default}
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka1:29092,kafka2:29092,kafka3:29092
    env_file:
      - path: .env
      - path: .env.${DOCKER_PROFILE:-default}
        required: false
    build:
      <<: *common-build
      args:
        - MODULE_PATH=${KAFKA_CONSUMER_NOTIFICATION_MODULE_PATH}
        - RELATIVE_PATH=${KAFKA_CONSUMER_NOTIFICATION_RELATIVE_PATH}
