x-common-build: &common-build
  context: ${PROJECT_ROOT}
  dockerfile: docker/file/base/Dockerfile

services:
  kafka-consumer-notification:
    container_name: kafka-consumer-notification
    image: kafka-consumer-notification
    pull_policy: build
    ports:
      - ${PORT}:${PORT}
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka1:29092,kafka2:29092,kafka3:29092
    env_file:
      - .env
    build:
      <<: *common-build
      args:
        - MODULE_PATH=${KAFKA_CONSUMER_NOTIFICATION_MODULE_PATH}
        - JAR_PATH=${KAFKA_CONSUMER_NOTIFICATION_JAR_PATH}
