# Sample values - Please fill manually
BUILD_SWAGGER=your-value-here
CONTEXT_PATH=your-value-here
MODULE_LANGUAGE=vi,en
PORT=your-value-here
PROJECT_NAME=your-value-here
SPRING_PROFILES_ACTIVE=your-value-here
